.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.header {
    background-color: aqua;
    grid-column: 2 / 4;
   
}

.nav {
    background-color: blueviolet;
    grid-column: 1 / 2;
    
}